*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #1F7A8C;
    text-align: center;

}

.container{
    height: 70vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;

}

.box{
    height:18vmin;
    width:18vmin;
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba(0,0,0,0.5);
    font-size: 9vmin;
    color: #022B3A;
    background-color: #F5D491;
}
#rstbtn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #E1E5F2;
    border-radius:2rem;
    box-shadow: 0 0 1rem rgba(0,0,0,0.5);
}

#newbtn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #E1E5F2;
    border-radius:2rem;
    box-shadow: 0 0 1rem rgba(0,0,0,0.5);
}

#msg{
    color: gold;
    font-size: 5vmin;
    padding-top: 2%;
    padding-bottom: 2%;

}

.hide{
    display:none;
    
}